In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv("C:/Users/91944/OneDrive/Desktop/aml lab/social media influencers - Tiktok sep 2022.csv")
dataset

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K
...,...,...,...,...,...,...,...,...
995,996,brendadialoy,Brenda Dialoy,371.9K,1.2M,187.5K,626,2K
996,997,jujufitcats,Juju Fitcats,4.3M,2.2M,280.8K,380,558
997,998,xoteam,XO Team,37.8M,2.5M,180.2K,859,450
998,999,kimsnwuo,️️,100.9K,957.4K,226.8K,908,1.7K
999,1000,jass_mcg,jass_mcg,52.2K,503.8K,116K,8.1K,1.8K

In [4]:
dataset.head(10)

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K
5,6,onwardwanna,Wanna🥊,7.5M,12M,2M,20.4K,4.2K
6,7,therock,The Rock,55.4M,13.1M,1.5M,14.3K,11.9K
7,8,bizarrap,bzrp,5.8M,16.2M,2.7M,4.2K,6.9K
8,9,landonbarkerr,Landon Barker,3.8M,11.7M,1.2M,19.1K,15.2K
9,10,mrbeast,MrBeast,42.2M,13M,1.7M,17.2K,2.1K

In [6]:
dataset.describe()

              S.no
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [7]:
dataset.isnull()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   S.no           1000 non-null   int64
 1   Tiktoker name  1000 non-null   object
 2   Tiktok name    999 non-null    object
 3   Subscribers    1000 non-null   object
 4   Views avg.     1000 non-null   object
 5   Likes avg.     1000 non-null   object
 6   Comments avg.  1000 non-null   object
 7   Shares avg.    1000 non-null   object
dtypes: int64(1), object(7)
memory usage: 62.6+ KB

In [9]:
def convert_to_numeric(value):
    if isinstance(value, str):
        if 'M' in value:
            return float(value.replace('M', '')) * 1e6
        elif 'K' in value:
            return float(value.replace('K', '')) * 1e3
        else:
            return float(value)
    else:
        return float(value)

In [11]:
dataset['Subscribers'] = dataset['Subscribers'].apply(convert_to_numeric)
dataset['Views avg.'] = dataset['Views avg.'].apply(convert_to_numeric)
dataset['Likes avg.'] = dataset['Likes avg.'].apply(convert_to_numeric)
dataset['Comments avg.'] = dataset['Comments avg.'].apply(convert_to_numeric)
dataset['Shares avg.'] = dataset['Shares avg.'].apply(convert_to_numeric)

In [12]:
dataset['Score'] = dataset['Subscribers'] + dataset['Views avg.'] + dataset['Likes avg.'] + dataset['Comments avg.'] + dataset['Shares avg.']
Average_score = dataset['Score'].mean()
dataset['Status'] = dataset['Score'].apply(lambda x: 'High' if x >= Average_score else 'Low')

In [13]:
dataset.head(5)

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.,Score,Status
0,1,jypestraykids,Stray Kids,13800000.0,6400000.0,2300000.0,50200.0,34200.0,22584400.0,High
1,2,khaby.lame,Khabane lame,149200000.0,17300000.0,2300000.0,15200.0,8700.0,168823900.0,High
2,3,scarlettsspam2,scarlett,2100000.0,17900000.0,845800.0,53900.0,6300.0,20906000.0,High
3,4,addisonre,Addison Rae,88700000.0,22000000.0,906600.0,7600.0,26200.0,111640400.0,High
4,5,belindatok,Belinda,4800000.0,14200000.0,1500000.0,14500.0,15300.0,20529800.0,High

In [14]:
from sklearn import preprocessing 
l=preprocessing.LabelEncoder()
status_encoded=l.fit_transform(dataset['Status'])
dataset['Status']=status_encoded

In [16]:
x=dataset.iloc[:,3:8]

In [17]:
x

     Subscribers  Views avg.  Likes avg.  Comments avg.  Shares avg.
0     13800000.0   6400000.0   2300000.0        50200.0      34200.0
1    149200000.0  17300000.0   2300000.0        15200.0       8700.0
2      2100000.0  17900000.0    845800.0        53900.0       6300.0
3     88700000.0  22000000.0    906600.0         7600.0      26200.0
4      4800000.0  14200000.0   1500000.0        14500.0      15300.0
..           ...         ...         ...            ...          ...
995     371900.0   1200000.0    187500.0          626.0       2000.0
996    4300000.0   2200000.0    280800.0          380.0        558.0
997   37800000.0   2500000.0    180200.0          859.0        450.0
998     100900.0    957400.0    226800.0          908.0       1700.0
999      52200.0    503800.0    116000.0         8100.0       1800.0

[1000 rows x 5 columns]

In [19]:
y=dataset.Status

In [20]:
y

0      0
1      0
2      0
3      0
4      0
      ..
995    1
996    1
997    0
998    1
999    1
Name: Status, Length: 1000, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [23]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [24]:
y_pred=classifier.predict(x_test)
y_pred

array([0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1])

In [25]:
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test,y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9966666666666667